{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% endblock %} 
{% block content %}
<section>
    <h1>{{ party.name }}'s detail page</h1>
</section>
<section>
    {% if party.owner.id == user.id %}
    <p>A little box with the party id</p>
    <a href ="{% url 'party-update' party.invite_id%}">Edit</a>
    {% elif user.is_authenticated %}
    <form
        action="{% url 'add-rsvp' party.invite_id %}"
        method="POST"
        autocomplete="off"
    >
        {% csrf_token %}
        {{ rsvp_form.as_table }}
        <button type="submit" class="btn submit">RSVP</button>
    <form>
    {% else %}
    <p>Link to login/signup</p>
    {% endif %}
</section>
<section>
    <h1>Who's coming?</h1>
    <ul>
        {% for rsvp in party.rsvp.all %}
        <li>{{ rsvp.get_status_display }} - {{ rsvp.user.username }}</li>
        {% endfor %}
    </ul>
</section>
<section>
    <h1>Dishes</h1>
    <ul>
        {% for dish in party.dishes_set.all %}
        <li>{{ dish.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url "dish-create" party.invite_id %}">Add a new dish</a>
</section>
{% endblock %}