{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/party-detail.css' %}">
{% endblock %} 
{% block content %}
    <div class="party-detail-container">
        <section class="party-detail-title">
            <h1>{{ party.name }}</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">
                        {{ message }}
                     </div>
                {% endfor %}
            {% endif %}
        </section>
        <section class="party-detail-sub-container">
            <h1>Information</h1>
            <p>When | {{party.time}}</p>
            <p>Where | {{party.location}}</p>
            <p>Wear | {{party.dresscode}}</p>
            {% if party.owner.id == user.id %}
                <div class="divider">
                    <hr>
                </div>
                <p>Invitation Code: {{party.invite_id}}</p>
                <a href ="{% url 'party-update' party.invite_id%}" class="btn">Edit Party</a>
            {% elif user.is_authenticated %}
                <form
                    action="{% url 'add-rsvp' party.invite_id %}"
                    method="POST"
                    autocomplete="off"
                >
                    {% csrf_token %}
                    {{ rsvp_form.as_table }}
                    <button type="submit" class="btn submit">RSVP</button>
            <form>
            {% else %}
                <p>Not logged in? Don't have an account?</p>
                <a href="{% url "signin" %}" class="btn">Log In</a>
                <a href="{% url "signup" %}" class="btn">Sign Up</a>
            {% endif %}
        </section>
        <section class="party-detail-sub-container">
            <h1>RSVPs</h1>
            <ul>
                {% for rsvp in party.rsvp_set.all %}
                    {% if rsvp.user.id == party.owner.id %}
                        <li><i>Hosted by - {{ rsvp.user.username}}</i></li>
                    {% else %}
                    <li> {{ rsvp.user.username }} ({{ rsvp.get_status_display }})</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
        <section class="dish-detail-sub-container dishes-section">
            <h1>Dishes</h1>
            <div class="dishes-wrapper">
                {% for dish in party.dish_set.all %}
                    <div class="dish-container">
                        <div class="dish-img-wrapper">
                            <a href="{% url "dish-detail" party.invite_id dish.id %}"><img src="{{ dish.img_url }}" class="dish-img"></a>
                        </div>
                        <a href="{% url "dish-detail" party.invite_id dish.id %}">{{ dish.name }}</a>
                        <p>This dish was claimed by: {{ dish.claimed_by }}</p>
                        <div class="flex-row">
                            {% if dish.claimed_by.id == user.id or party.owner.id == user.id %}
                                <a href="{% url "dish-update" party.invite_id dish.id %}"><img src="{% static '../static/images/edit.svg' %}"></a>
                                <a href="{% url "dish-delete" party.invite_id dish.id %}"><img src="{% static '../static/images/delete.svg' %}"></a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url "dish-create" party.invite_id %}" class="btn">Add a new dish</a>
        </section>
    </div>
{% endblock %}