{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<section class="hero-img">
    <div>
        <h1>HEY PARTY PEOPLE!</h1>
        <h4>Are you ready to go FEASTMODE?</h4>
        <a href="{% url 'signin' %}">LEARN MORE</a>
    </div>
    <section>
        <a href="{% url "party-create" %}">Create a Party!</a>
    </section>
</section>

<section>
    <form action="{% url "party-find" %}">
        {% csrf_token %}
        <input name="invite_id" maxlength=6 minlength=6 />
        <button type="submit" class="btn submit">Join Party</button>
    </form>
</section>

{% endblock %}

