html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-neutral: #f2f2f2;
    --color-accent: #850d09;
    --color-primary: #fff6e7;
    --color-secondary: #f9ede5;
    --color-dark: #000333;
}

body {
    background-color: var(--color-primary);
    color: var(--color-dark);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    min-height: 100vh;
    --submit: rgb(26, 128, 0);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57);
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
}

header {
    width: 100%;
}

nav {
    background: transparent;
    color: var(--color-neutral);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.centered {
    align-items: center;
    margin-bottom: 8vmin;
}

h2 {
    font-size: var(--font-xl);
}

nav a {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--color-dark);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 5px 8px;
}

.nav-logo {
    width: 12rem;
    cursor:pointer;
}

/* button (default) */

.btn {
    background-color: var(--color-accent);
    color: var(--color-neutral);
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--color-dark);
}

.btn-override {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-accent);
    font: inherit;
    font-weight: 600;
    transition: 0.3s;
}

.btn-override:hover {
    color: var(--color-dark);
}

/* button style 1 */

.btn.style1 {
    background-color: var(--color-accent);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.btn.style1:hover {
    background-color: var(--color-dark);
}

/* button style 2 */

.btn.style2 {
    background-color: #dbdbdb;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
  }
  
  .btn.style2:hover {
    background-color: var(--color-accent);
    color: #fff;
  }


.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.hero-img {
    background-image: linear-gradient(rgba(255, 246, 231, 0.375),
            rgba(255, 246, 231, 1)),
        url('../images/Hero.jpg');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 3vmin;
    margin-top: -80px;
    z-index: 0;
}

.hero-img img {
    max-width: 80%;
    margin-top: 4vmin;
}

.hero-txt {
    padding: 2vmin 0 0 0;
}

.hero-txt h1 {
    font-size: 6vmin;
    margin: 6vmin 0 0 0;
}

.hero-txt h4 {
    font-size: 4vmin;
    margin: 2vmin 0 5vmin 0;
}

.hero-link {
    gap: 2vmin;
    margin-bottom: 2vmin;
}

.hero-link a {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.join-party {
    margin: 1vmin 0 6vmin 0;
    font-size: 2vmin;
}

.party-input {
    border: 1px solid var(--color-dark);
    background: transparent;
    padding: 8px 16px;
    border-radius: 6px;
}

.landing-txt {
    width: 80%;
    align-self: center;
    margin-bottom: 6vmin;
    font-size: 2vmin;
    line-height: 3.5vmin;
    gap: 2vmin;
}

.landing-img {
    max-width: 60vmin;
}

.testimonials {
    margin-top: 2vmin;
    align-self: center;
    width: 80%;
}

.testimonial-container {
    gap: 4vmin;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 2vmin;
    width: 100%;
}

.inner-testimonial {
    background-color: var(--color-dark);
    color: var(--color-neutral);
    height: 36vmin;
    width: 36vmin;
    display: flex;
}

.inner-testimonial p {
    font-size: 2.5vmin;
    align-content: flex-start;
    padding: 4vmin 4vmin 0vmin 4vmin; 
}

.name {
    justify-content: flex-end;
    margin-top: 1vmin;
    font-style: italic;
}



/* divider */

.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
}

.or-divider hr {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #ccc;
}

.or-divider span {
    padding: 0 10px;
    font-size: 0.9rem;
    color: #555;
    font-weight: 600;
}

@media screen and (max-width: 1023px) {
    .testimonial-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}