.party-index-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(255 255 255 / 34%), rgba(255, 246, 231, 1)), url(../images/divimg.jpg);
  height: 100%;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 2rem;
  gap: 4vmin;
}
.party-index-title h1 {
  text-align: left;
  font-size: 2.4rem;
  margin-top: 4vmin;
  margin-bottom: 0;
  padding-bottom: 0;
}

.flex-column .party-index-title {
  margin-top: -80px;
  padding-top: 6rem;
}

.party-index-title a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--color-accent);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 2vmin;
}

.party-index-sub-container {
  display: flex;
  width: 50vmin;
  height: auto;
  margin-top: 4vmin;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.party-index-sub-container h1 {
  font-size: 1.6rem;
}

.party-index-sub-container a {
  color: var(--color-dark);
}

@media screen and (max-width: 700px) {
  .party-index-sub-container {
    width: 80%;
    padding: 1vmin;
  }
}