.party-detail-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    padding-top: 6rem;
    padding-bottom: 2rem;
    height: 100%;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgb(255 255 255 / 34%), rgba(255, 246, 231, 1)), url(../images/divimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.party-detail-title h1 {
    text-align: left;
    font-size: 2.4rem;
}

.party-detail-title a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.party-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.party-detail-sub-container {
    display: flex;
    width: 60%;
    flex-grow: 1;
    padding: 16px 16px 32px 16px;
    margin-bottom: 1.2rem;
    background: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.party-detail-sub-container h1 {
    font-size: 1.6rem;
}

.dish-detail-sub-container {
    display: flex;
    width: 60%;
    padding: 16px 16px 32px 16px;
    margin-bottom: 1.2rem;
    background: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* dishes */

.dishes-section {
    align-items: center;
    margin-bottom: 2vmin;
}

.dishes-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4vmin;
    flex-wrap: wrap;
    margin-bottom: 6vmin;
    justify-content: center;
}

.dish-container {
    width: 30vmin;
    height: 45vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-secondary);
    padding: 1vmin;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
}

.dish-img-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.dish-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.dish-container a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: bold;
    margin-top: 1vmin;
}

.alert {
    color: red;
    font-size: 3vmin;
}

.cancel {
    border-color: var(--color-accent);
}

.cancel h1 {
    color: var(--color-accent);
    text-decoration: underline;
}

@media screen and (max-width: 1023px) {
    .dish-detail-sub-container {
        width: 60%;
        min-height: auto;
    }

    .dishes-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vmin;
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
    }

    .dish-container {
        width: 50vmin;
        height: 65vmin;
    }

    .party-detail-sub-container form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vmin;
        padding: 8vmin;
        border: .25vmin solid var(--color-neutral);
    }

    .party-detail-sub-container {
        text-align: center;
    }
}